.products {
    margin: 20px 0;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr;
        @media (max-width:992px) {
            grid-template-columns: none;
        }
    }

    &__left {
        @media (max-width:992px) {
            display: none;
        }
    }

    &__pag {
        margin: 10px 0;
        font-size: 13px;
        font-weight: 500;
        font-family: sans-serif;
        color: black;
    }

    &__items {
        width: max-content;
        border: 1px solid #4c4d4f74;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    &__box-item {
        display: flex;
        align-items: center;
        width: max-content;
        gap: 10px;
    }

    &__box-text {
        font-size: 14px;
        font-weight: 500;
        font-family: sans-serif;
        color: #4c4d4f;
    }

    &__item-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
        color: #4c4d4f;
        font-weight: 600;
        font-size: 18px;
        font-family: sans-serif;
        cursor: pointer;
        width: 100%;

        span {
            &:active {
                color: #000;
            }
        }
    }

    &__item-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #4c4d4f7b;
        padding-bottom: 20px;
    }

    &__right {}

    &__nav {}

    &__btn-win {}

    &__title {}

    &__text {}

    &__sorts {}

    &__sort {}


    &__burger{
        display: none;
        @media (max-width:992px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            button{
                width: 100%;
            }
        }
    }
}