.stepney {
    &__wrapper {}

    &__left {
        display: block;
        width: max-content;
        transition: all 0.3s;
    }

    &__left-bgi {
        background-image: url("https://www.sneakerdistrict.com/storage/static-img/containers/static_images/adidas-gazelle-indoor-w-semi-green-spark-almost-yellow-cream-white-IE2948-ig-1700126438.jpg/a674c2f0b7bff3a6690703a157fcd32d.webp");
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: center;
        width: 400px;
        height: 600px;
        position: relative;
        transition: background-size 0.3s linear;

        &:hover {
            background-size: 125%;
        }
    }

    &__left-title {
        position: absolute;
        bottom: 90px;
        left: 20px;

        color: white;
        font-weight: 600;
        font-size: 30px;

        font-family: "Suisse Intl", sans-serif;
    }

    &__btn {
        width: max-content;
        font-size: 15px;
        font-weight: 600;
        padding: 15px 25px;
        background-color: white;
        border: 1px solid black;
        transition: all 0.3s;
        box-shadow: 5px 5px 0px -2px rgb(0, 0, 0);
        position: absolute;
        position: absolute;
        bottom: 30px;
        left: 20px;

        &.click {
            padding: 10px;
            position: relative;
            background-color: rgb(255, 255, 255);
            border: 1px solid black;
            box-shadow: none;
            transform: translateY(2px) translateX(2px);
        }
    }
}