.trends {
    &__wrapper {}

    &__img {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap: 20px;
        img{
            max-width: 650px;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    &__card {
        display: flex;
        gap: 20px;
        
    }

    &__card-img {
        width: 100%;
        max-width: 150px;
        img {
            height: 140px;
            object-fit: contain;
            background-color: #f6f6f6;
            width: 100%;
        }
    }

    &__content {}

    &__card-title {
        font-size: 14px;
        font-family: sans-serif;
    }

    &__text {
        font-family: sans-serif;
    }

    &__price {
        font-family: sans-serif;
    }

    &__btn {
        font-family: sans-serif;
    }
}