.productCard {
    margin: 100px 0;
    &__box-img {

        background-color: #f2f2f2;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        @media (max-width:992px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__img {
        width: 100%;
        max-width: 300px;
        height: 300px;
        object-fit: contain;
    }

    &__price {
        color: black;
        font-weight: 600;
        font-size: 12px;
        width: max-content;
    }

    &__text {
        color: gray;
        font-size: 11px;
        font-family: "Suisse Intl", sans-serif;
    }

    &__title {
        color: black;
        font-weight: 600;
        width: max-content;
    }

    &__main-title {
        display: block;
        color: black;
        font-weight: 600;
        width: max-content;
        padding-bottom: 30px;
        text-decoration: underline;
    }
}