.footer {

    margin: 100px 0 20px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media (max-width:992px) {
            display: block;
        }
    }

    &__wrapper1 {
        padding: 30px 30px;
        background-color: black;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width:992px) {
            display: none;
        }
    }

    &__titles {
        margin: 0 auto;
        width: max-content;
        color: #fff;
    }

    &__title {
        color: #fff;
        font-family: sans-serif;
    }

    &__text {
        color: #fff;
        font-family: sans-serif;
        font-size: 12px;
        width: max-content;
    }

    &__logos {
        display: flex;
        align-items: center;

        a {
            display: flex;
            gap: 20px;
        }

        .facebook {
            width: 100%;
            max-width: 115px;
        }

        .twitch {
            width: 100%;
            max-width: 35px;
        }
    }

    &__socials {
        width: max-content;
        display: block;
    }

    &__btm {
        margin: 20px 0;

        img {
            max-width: 300px;
            width: 100%;
            margin-bottom: auto;
        }
    }

    &__wrapper2 {
        display: flex;
        align-items: center;
        gap: 200px;

        @media (max-width:992px) {
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }
    }

    &__mid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__mid-img {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            max-width: 50px;
            width: 100%;
        }
    }

    &__privacy {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__privacy-text {
        font-family: sans-serif;
        color: gray;
        font-size: 12px;
    }

    &__active {
        display: none;

        @media (max-width:992px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
        }
    }
    &__active-top{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__active-btm{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__btm-text{
        color: white;
        font-family: sans-serif;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 10px 0;
        width: 100%;
    }
}